@import compass/reset
@import compass/css3/box-shadow
@import compass/css3/border-radius
@import compass/css3/gradient

// colors
$background-color:    #b4d7f3
$header-color:        #fffdcd
$header-border-color: darken($header-color, 40%)
$link-color:          orange
$section-color:       lighten($header-color, 6%)
$shadow-color:        #444
$text-color:          #583320
$rule-color:          #583320

// dimensions
$dy: 20px
$dx: 20px
$header-y: $dy
$header-padding: $dy
$header-height: 120px

$header-bottom: $header-y + $header-height + 2*$header-padding
$main-top: $header-bottom + $dy
$main-bottom: $dy
$section-width: 800px
$section-dx: 10px

// global
html
  color: $text-color
  font-family: helvetica, sans-serif
h1
  font-size: 36px
h2
  font-size: 24px
a
  font-size: 18px
  color: $link-color
  text-decoration: none
  &:hover
    text-decoration: underline

.fading_line
  display: block
  border: none
  height: 1px
  background: black
  +radial-gradient(color-stops($rule-color 0, $header-color 350px))

.penant
  display: inline-block
  width: 0
  height: 0
  border-left:  20px solid transparent
  border-right: 20px solid transparent
  border-top:   80px solid blue

// container for site
#site
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  +linear-gradient(color-stops($background-color, lighten($background-color, 10%)), bottom)

// header
.header
  position: absolute
  left: $dx
  right: $dx
  top: $header-y
  +linear-gradient(color-stops($header-color, lighten($header-color, 6%)), bottom)
  padding: $dy
  height: $header-height

  border-style: dotted
  border-width: 2px
  border-color: $header-border-color

  +box-shadow($shadow-color 2px 2px 10px)

.header
  h1, h2, .links
    text-align: center

  .links
    margin-top: $dy
    text-align: center

  .fading_line
    margin: $dy/2 0

  .links li
    display: inline
    margin: $dx

// main body
.main
  position: absolute
  left: $dy
  right: $dy
  top: $main-top
  bottom: $main-bottom

.section
  position: absolute
  width: 100%
  background: $section-color
  top: 0
  bottom: 0

  +box-shadow($shadow-color 2px 2px 5px)
  +border-radius(20px)

// individual sections
#directions
  left: $section-dx*0
  z-index: 10

#story
  left: $section-dx*1
  z-index: 9

#registry
  left: $section-dx*2
  z-index: 8


