@import compass/reset
@import compass/css3/box-shadow
@import compass/css3/border-radius
@import compass/css3/gradient

// colors
$background-color:    #fee8b8
$header-color:        #fffdcd
$header-border-color: darken($header-color, 40%)
$link-color:          orange
$section-color:       lighten($header-color, 6%)
$shadow-color:        #444
$text-color:          #583320
$rule-color:          #583320

// dimensions
$dy: 20px
$dx: 20px
$header-y: $dy
$header-padding: $dy
$header-height: 100px

$header-bottom: $header-y + $header-height + 2*$header-padding
$main-top: $header-bottom + $dy
$main-bottom: $dy
$section-width: 800px
$section-dx: 10px

// global
html
  color: $text-color
  font-family: helvetica, sans-serif
  font-size: 18px
h1
  font-size: 36px
h2
  font-size: 24px
a
  font-size: 18px
  color: $link-color
  text-decoration: none
  &:hover
    text-decoration: underline

// container for site
#site
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  +linear-gradient(color-stops($background-color, lighten($background-color, 10%)), bottom)


// header
.header
  position: absolute
  left:  300px
  right: 300px
  top: $dy
  padding: $dy

  h1, h2, .links
    text-align: center

  .links
    margin-top: $dy
    text-align: center

    li
      display: inline
      margin: $dx


// penants
svg.defs
  height: 0
  width: 0

svg.penants
  z-index: 100
  position: absolute
  top: 0
  height: 400px
  width: 450px
  &.left
    left: 0px
  &.right
    right: 0px

  circle
    fill: none

  path.penant
    z-index: 100
    +box-shadow($shadow-color 2px 2px 5px)


// main body
.main
  z-index: 1
  position: absolute
  width: 960px
  margin-left: -520px
  left: 50%
  top:    $main-top
  bottom: $main-bottom
  min-height: 400px
  padding: 2*$dy

  background: $section-color
  +box-shadow($shadow-color 2px 2px 5px)
  +border-radius(20px)

.section
  line-height: 30px
  .image-wrapper
    width: 300px
    height: 269px

    float: left
    margin-right:  2*$dy
    margin-bottom: 2*$dy
    background: #fef4dd
    padding: $dy
    border: 1px solid #c0c0a0


// individual sections
#directions

#story, #registry
  display: none

#registry


