/* line 17, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 30, ../sass/wedding.sass */
html {
  color: #583320;
  font-family: helvetica, sans-serif;
}

/* line 33, ../sass/wedding.sass */
h1 {
  font-size: 36px;
}

/* line 35, ../sass/wedding.sass */
h2 {
  font-size: 24px;
}

/* line 37, ../sass/wedding.sass */
a {
  font-size: 18px;
  color: orange;
  text-decoration: none;
}
/* line 41, ../sass/wedding.sass */
a:hover {
  text-decoration: underline;
}

/* line 44, ../sass/wedding.sass */
.fading_line {
  display: block;
  border: none;
  height: 1px;
  background: black;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, color-stop(0%, #583320), color-stop(100%, #fffdcd));
  background-image: -webkit-radial-gradient(center center, #583320 0%, #fffdcd 350px);
  background-image: -moz-radial-gradient(center center, #583320 0%, #fffdcd 350px);
  background-image: -o-radial-gradient(center center, #583320 0%, #fffdcd 350px);
  background-image: -ms-radial-gradient(center center, #583320 0%, #fffdcd 350px);
  background-image: radial-gradient(center center, #583320 0%, #fffdcd 350px);
}

/* line 51, ../sass/wedding.sass */
.penant {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 80px solid blue;
}

/* line 60, ../sass/wedding.sass */
#site {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #b4d7f3), color-stop(100%, #e0eefa));
  background-image: -webkit-linear-gradient(bottom, #b4d7f3, #e0eefa);
  background-image: -moz-linear-gradient(bottom, #b4d7f3, #e0eefa);
  background-image: -o-linear-gradient(bottom, #b4d7f3, #e0eefa);
  background-image: -ms-linear-gradient(bottom, #b4d7f3, #e0eefa);
  background-image: linear-gradient(bottom, #b4d7f3, #e0eefa);
}

/* line 69, ../sass/wedding.sass */
.header {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fffdcd), color-stop(100%, #fffeec));
  background-image: -webkit-linear-gradient(bottom, #fffdcd, #fffeec);
  background-image: -moz-linear-gradient(bottom, #fffdcd, #fffeec);
  background-image: -o-linear-gradient(bottom, #fffdcd, #fffeec);
  background-image: -ms-linear-gradient(bottom, #fffdcd, #fffeec);
  background-image: linear-gradient(bottom, #fffdcd, #fffeec);
  padding: 20px;
  height: 120px;
  border-style: dotted;
  border-width: 2px;
  border-color: #fff501;
  -moz-box-shadow: #444444 2px 2px 10px;
  -webkit-box-shadow: #444444 2px 2px 10px;
  -o-box-shadow: #444444 2px 2px 10px;
  box-shadow: #444444 2px 2px 10px;
}

/* line 85, ../sass/wedding.sass */
.header h1, .header h2, .header .links {
  text-align: center;
}
/* line 88, ../sass/wedding.sass */
.header .links {
  margin-top: 20px;
  text-align: center;
}
/* line 92, ../sass/wedding.sass */
.header .fading_line {
  margin: 10px 0;
}
/* line 95, ../sass/wedding.sass */
.header .links li {
  display: inline;
  margin: 20px;
}

/* line 100, ../sass/wedding.sass */
.main {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 200px;
  bottom: 20px;
}

/* line 107, ../sass/wedding.sass */
.section {
  position: absolute;
  width: 100%;
  background: #fffeec;
  top: 0;
  bottom: 0;
  -moz-box-shadow: #444444 2px 2px 5px;
  -webkit-box-shadow: #444444 2px 2px 5px;
  -o-box-shadow: #444444 2px 2px 5px;
  box-shadow: #444444 2px 2px 5px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

/* line 118, ../sass/wedding.sass */
#directions {
  left: 0px;
  z-index: 10;
}

/* line 122, ../sass/wedding.sass */
#story {
  left: 10px;
  z-index: 9;
}

/* line 126, ../sass/wedding.sass */
#registry {
  left: 20px;
  z-index: 8;
}
