/* line 17, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 30, ../sass/wedding.sass */
html {
  color: #583320;
  font-family: helvetica, sans-serif;
  font-size: 18px;
}

/* line 34, ../sass/wedding.sass */
h1 {
  font-size: 36px;
}

/* line 36, ../sass/wedding.sass */
h2 {
  font-size: 24px;
}

/* line 38, ../sass/wedding.sass */
a {
  font-size: 18px;
  color: orange;
  text-decoration: none;
}
/* line 42, ../sass/wedding.sass */
a:hover {
  text-decoration: underline;
}

/* line 46, ../sass/wedding.sass */
#site {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fee8b8), color-stop(100%, #fff8ea));
  background-image: -webkit-linear-gradient(bottom, #fee8b8, #fff8ea);
  background-image: -moz-linear-gradient(bottom, #fee8b8, #fff8ea);
  background-image: -o-linear-gradient(bottom, #fee8b8, #fff8ea);
  background-image: -ms-linear-gradient(bottom, #fee8b8, #fff8ea);
  background-image: linear-gradient(bottom, #fee8b8, #fff8ea);
}

/* line 56, ../sass/wedding.sass */
.header {
  position: absolute;
  left: 300px;
  right: 300px;
  top: 20px;
  padding: 20px;
}
/* line 63, ../sass/wedding.sass */
.header h1, .header h2, .header .links {
  text-align: center;
}
/* line 66, ../sass/wedding.sass */
.header .links {
  margin-top: 20px;
  text-align: center;
}
/* line 70, ../sass/wedding.sass */
.header .links li {
  display: inline;
  margin: 20px;
}

/* line 76, ../sass/wedding.sass */
svg.defs {
  height: 0;
  width: 0;
}

/* line 80, ../sass/wedding.sass */
svg.penants {
  z-index: 100;
  position: absolute;
  top: 0;
  height: 400px;
  width: 450px;
}
/* line 86, ../sass/wedding.sass */
svg.penants.left {
  left: 0px;
}
/* line 88, ../sass/wedding.sass */
svg.penants.right {
  right: 0px;
}
/* line 91, ../sass/wedding.sass */
svg.penants circle {
  fill: none;
}
/* line 94, ../sass/wedding.sass */
svg.penants path.penant {
  z-index: 100;
  -moz-box-shadow: #444444 2px 2px 5px;
  -webkit-box-shadow: #444444 2px 2px 5px;
  -o-box-shadow: #444444 2px 2px 5px;
  box-shadow: #444444 2px 2px 5px;
}

/* line 100, ../sass/wedding.sass */
.main {
  z-index: 1;
  position: absolute;
  width: 960px;
  margin-left: -520px;
  left: 50%;
  top: 180px;
  bottom: 20px;
  min-height: 400px;
  padding: 40px;
  background: #fffeec;
  -moz-box-shadow: #444444 2px 2px 5px;
  -webkit-box-shadow: #444444 2px 2px 5px;
  -o-box-shadow: #444444 2px 2px 5px;
  box-shadow: #444444 2px 2px 5px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

/* line 115, ../sass/wedding.sass */
.section {
  line-height: 30px;
}
/* line 117, ../sass/wedding.sass */
.section .image-wrapper {
  width: 300px;
  height: 269px;
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  background: #fef4dd;
  padding: 20px;
  border: 1px solid #c0c0a0;
}

/* line 132, ../sass/wedding.sass */
#story, #registry {
  display: none;
}
